---
http_interactions:
- request:
    method: get
    uri: https://api.tomtom.com/search/2/nearbySearch/.json?categorySet=7397&key=f8bRZr9idyxnAKHtyDhUwT4fkOx5A4xw&lat=32.779167&lon=-96.808891
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracking-Id:
      - bee821f1-eba5-42e4-bf99-1cfae880f0ab
      X-Apigee.target-Latency:
      - '57'
      X-Tomtom-Processed-By:
      - eastus
    body:
      encoding: ASCII-8BIT
      string: '{"summary":{"queryType":"NEARBY","queryTime":54,"numResults":10,"offset":0,"totalResults":10,"fuzzyLevel":1,"geoBias":{"lat":32.779167,"lon":-96.808891},"geobiasCountry":"US"},"results":[{"type":"POI","id":"E3PZiOic0q1TK20WM8mLPw","score":99.9292907715,"dist":70.702651,"info":"search:ta:840489004170197-US","poi":{"name":"Cardtronics","brands":[{"name":"Cardtronics"}],"categorySet":[{"id":7397}],"categories":["cash
        dispenser"],"classifications":[{"code":"CASH_DISPENSER","names":[{"nameLocale":"en-US","name":"cash
        dispenser"}]}]},"address":{"streetNumber":"411","streetName":"Elm Street","municipalitySubdivision":"Downtown
        Dallas","municipality":"Dallas","countrySecondarySubdivision":"Dallas","countrySubdivision":"TX","countrySubdivisionName":"Texas","postalCode":"75202","extendedPostalCode":"75202-3308","countryCode":"US","country":"United
        States","countryCodeISO3":"USA","freeformAddress":"411 Elm Street, Dallas,
        TX 75202","localName":"Dallas"},"position":{"lat":32.779637,"lon":-96.808381},"viewport":{"topLeftPoint":{"lat":32.78054,"lon":-96.80945},"btmRightPoint":{"lat":32.77874,"lon":-96.80731}},"entryPoints":[{"type":"minor","position":{"lat":32.78009,"lon":-96.80827}},{"type":"main","position":{"lat":32.7795,"lon":-96.80812}},{"type":"minor","position":{"lat":32.77958,"lon":-96.80806}}]},{"type":"POI","id":"AtTOapD55mEyj5yFc5otBQ","score":99.8988723755,"dist":101.116159,"info":"search:ta:840489004575302-US","poi":{"name":"ATM","categorySet":[{"id":7397}],"categories":["cash
        dispenser"],"classifications":[{"code":"CASH_DISPENSER","names":[{"nameLocale":"en-US","name":"cash
        dispenser"[...]
